---

interface Technology {
  name: string;
  iconTech: Record<string, any>;
}

interface Props {
  array: Technology[];
  styleInfinite: string;
}

const { array, styleInfinite } = Astro.props;
---

<div
  class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-200px),transparent_100%)]"
>
  <ul
    class={`flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 [&_img]:max-w-none ${styleInfinite}`}
  >
    {
      array.map((tech:any) => (
        <li class="flex flex-col items-center justify-center gap-y-2 text-center">
          <tech.iconTech class="size-10 sm:size-12 text-white" />
        </li>
      ))
    }
  </ul>
  <ul
    class={`flex items-center justify-center md:justify-start [&_li]:mx-5 sm:[&_li]:mx-8 [&_img]:max-w-none ${styleInfinite}`}
    aria-hidden="true"
  >
    {
      array.map((tech:any) => (
        <li class="flex flex-col items-center justify-center gap-y-2">
          <tech.iconTech class="size-10 sm:size-12 text-white" />
        </li>
      ))
    }
  </ul>
</div>
