---
import "@fontsource-variable/onest/"
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta property="og:title" content="Portfolio de Josty Tafur, Ingenierio de software">
    	<meta property="og:description" content="Portfolio de Josty Tafur, Ingenierio de software">
    	<meta property="og:image" content="assets/images/profile_pixelart.webp">
    	<meta property="og:image:alt" content="Imagen pixel art de Josty Tafur">
		<meta name="robots" content="index, follow">
    	<meta name="theme-color" content="#0xF25330">
		<meta name="viewport" content="width=device-width" />
		<meta name="google-site-verification" content="VGjMZn-iB7nWApbv7gwTzUXHvO8Nqko_XeG4iOFR310" />
		<link rel="icon" type="image/jpg" href="/images/profile-pixelart.webp"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-200 dark:bg-[#0F1223]">
		<div class="fixed inset-0 -z-10 h-full w-full bg-slate:200  dark:bg-[#0F1223]"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_60%_50%_at_50%_0%,#000_70%,transparent_100%)]"></div><div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full dark:bg-orange-200 bg-fuchsia-500 opacity-15 blur-[90px]"></div></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: Onest Variable, system-ui, sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background-color: #050505;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		justify-content: space-between;
	}

	@media(prefers-reduced-motion: reduce) {
		body {
			scroll-behavior: auto;
		}
	}
</style>
